{{mail-token,1,value}} <!-- header -->

<span style="font-size:18px;">Dear <!--1C_CustomerAccost--> <!--1C_CustomerAccost-->,</span><br />
Your order # <strong><!--1C_InvoiceNumber-->231321324564<!--1C_InvoiceNumber--></strong> has been completed.<br/>
<br/>

<div style="margin-left : 20pt; background-color:#E8E8E8">
 <!--1C_Items-->
          {{product,<!--1C_ProductId-->841343<!--1C_ProductId-->,support-text}}
 <!--1C_Items-->
</div><br/>

 <!--1C_SupportText-->SupportText<!--1C_SupportText-->

You may track the status of your current order at your 
<a href="[[autologin,<!--1C_CustomerId--> <!--1C_CustomerId-->,{{mail-token,23,value}}">account page</a>
[[site,<!--1C_siteId--> <!--1C_siteId-->]]
[[language,<!--1C_languageId--> <!--1C_languageId-->]]

{{mail-token,10,value}} <!-- waranty -->

{{mail-token,11,value}} <!-- contact us -->

<!-- end content -->

{{mail-token,12,value}}
<hr>

{{mail-token,7,value}} <!-- commercial -->
{{mail-token,8,value}} <!-- other projects --><br />
{{mail-token,2,value}} <!-- footer -->